trigger:
  branches:
    include:
      - main

schedules:
  - cron: "0 6 * * *"   # 6 AM UTC = 8 AM South Africa time (UTC+2)
    displayName: Daily 8 AM Test Run
    branches:
      include:
        - main
    always: true

pool:
  vmImage: 'ubuntu-latest'

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$(Pipeline.Workspace)/.m2/repository"

steps:

  - task: Cache@2
    inputs:
      key: 'maven | "$(Agent.OS)" | pom.xml'
      restoreKeys: |
        maven | "$(Agent.OS)"
      path: $(Pipeline.Workspace)/.m2/repository
    displayName: 'Cache Maven packages'

  - task: Maven@4
    displayName: 'Run Tests with Maven'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      options: '-Dsurefire.suiteXmlFiles=testng.xml'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Extent Report Artifact'
    inputs:
      PathtoPublish: 'reports/CAF_Execution_Report.html'
      ArtifactName: 'ExtentReport'
      publishLocation: 'Container'

  - task: HttpRequest@2
    displayName: 'Call Logic App to Send Email'
    inputs:
      url: '<YOUR_LOGIC_APP_TRIGGER_URL>'  # Replace with your actual Logic App URL
      method: 'POST'
      headers: |
        Content-Type: application/json
      body: |
        {
          "buildId": "$(Build.BuildId)",
          "reportDownloadUrl": "https://dev.azure.com/$(System.CollectionUri)/$(System.TeamProject)/_apis/build/builds/$(Build.BuildId)/artifacts?artifactName=ExtentReport&api-version=6.0&%24format=zip"
        }
