trigger:
  branches:
    include:
      - main   # Run on every commit to main branch

schedules:
  - cron: "0 8 * * *"   # Run every day at 8 AM UTC
    displayName: Daily 8AM Run
    branches:
      include:
        - main
    always: true   # Run even if no code changes

pool:
  vmImage: 'ubuntu-latest'

steps:
  # Install Java 21
  - task: JavaToolInstaller@0
    inputs:
      versionSpec: '21'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  # Run Maven build & tests
  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      publishJUnitResults: true
      testResultsFiles: '**/target/surefire-reports/TEST-*.xml'
      javaHomeOption: 'Path'
      mavenVersionOption: 'Default'

  # Publish ExtentReports folder as artifact (downloadable)
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: 'reports'
      ArtifactName: 'ExtentReports'
      publishLocation: 'Container'

  # Publish automation-report.html to pipeline summary
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: 'reports/automation-report.html'
      artifact: 'AutomationReport'
      publishLocation: 'pipeline'
