trigger:
  branches:
    include:
      - main

schedules:
  - cron: "0 8 * * *"
    displayName: Daily 8AM Run
    branches:
      include:
        - main
    always: true

pool:
  vmImage: 'ubuntu-latest'

steps:
  # Option A: Install and select Java 21 via built-in task
  - task: JavaToolInstaller@0
    inputs:
      versionSpec: '21'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  # Option B (alternative): Manually enforce Java 21
  # - script: |
  #     echo "##vso[task.setvariable variable=JAVA_HOME]$(JAVA_HOME_21_X64)"
  #     echo "##vso[task.prependpath]$(JAVA_HOME_21_X64)/bin"
  #     java -version
  #   displayName: 'Set Java 21 manually'

  - task: Maven@4
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      publishJUnitResults: true
      testResultsFiles: '**/target/surefire-reports/TEST-*.xml'
      javaHomeOption: 'Path'
      mavenVersionOption: 'Default'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: 'reports'
      ArtifactName: 'ExtentReports'
      publishLocation: 'Container'

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: 'reports/automation-report.html'
      artifact: 'AutomationReport'
      publishLocation: 'pipeline'
