trigger:
  branches:
    include:
      - main

schedules:
  - cron: "0 6 * * *"   # 06:00 UTC = 08:00 SAST
    displayName: Daily 8AM Run
    branches:
      include:
        - main
    always: true

pool:
  vmImage: 'ubuntu-latest'

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$(Pipeline.Workspace)/.m2/repository"

steps:
  - task: Maven@4
    displayName: "Build and Run Tests"
    inputs:
      mavenPomFile: "pom.xml"
      goals: "clean test"
      options: "-Dmaven.test.failure.ignore=false"
      publishJUnitResults: true
      testResultsFiles: "**/target/surefire-reports/TEST-*.xml"
      javaHomeOption: "JDKVersion"
      jdkVersionOption: "1.11"
      jdkArchitectureOption: "x64"
      mavenVersionOption: "Default"

  - task: CopyFiles@2
    displayName: "Copy Extent Report & Screenshots"
    inputs:
      SourceFolder: "$(System.DefaultWorkingDirectory)/target/reports"
      Contents: |
        cregalink-automation-results.html
        screenshots/**/*
      TargetFolder: "$(Build.ArtifactStagingDirectory)/reports"

  - task: PublishBuildArtifacts@1
    displayName: "Publish Test Reports"
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)/reports"
      ArtifactName: "TestReports"
      publishLocation: "Container"


  # This requires installing "Publish HTML Reports" extension in Azure DevOps
#  - task: PublishHtmlReport@1
#    displayName: "Publish Extent HTML Report in Pipeline"
#    inputs:
#      reportDir: "$(System.DefaultWorkingDirectory)/target/reports"
#      reportFiles: "cregalink-automation-results.html"
#      reportName: "ExtentReport"
