trigger:
  branches:
    include:
      - master

schedules:
  - cron: "0 6 * * *"  # UTC time; 6am UTC == 8am South Africa (UTC+2)
    displayName: Daily Run @ 8am SAST
    branches:
      include:
        - master
    always: true

pool:
  vmImage: 'ubuntu-latest'

jobs:
- job: BuildAndTest
  steps:

    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '21'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - task: Maven@4
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean test'
        options: '-X -e'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-**'