trigger:
  branches:
    include:
      - master

schedules:
  - cron: "0 6 * * *"  # 8AM SAST = 6AM UTC
    displayName: Daily 8AM Test Run
    branches:
      include:
        - master
    always: true

pool:
  vmImage: 'ubuntu-latest'

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$(Pipeline.Workspace)/.m2/repository"

steps:

- task: Cache@2
  inputs:
    key: 'maven | "$(Agent.OS)" | **/pom.xml'
    restoreKeys: |
      maven | "$(Agent.OS)"
    path: $(Pipeline.Workspace)/.m2/repository

- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean test'
    options: '-Dmaven.test.failure.ignore=false'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/emailable-report-*.html'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/surefire-reports/emailable-report-*.html'
    testRunTitle: 'TestNG Results'
    failTaskOnFailedTests: false

- task: PublishBuildArtifacts@1
  displayName: 'Archive Extent Report'
  inputs:
    pathToPublish: 'reports'
    artifactName: 'ExtentReport'
