trigger:
  branches:
    include:
      - main

schedules:
  - cron: "0 6 * * *"  # 8 AM SAST = 6 AM UTC
    displayName: Daily 8AM Run
    branches:
      include:
        - main
    always: true

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: Maven@4
    displayName: 'Run TestNG Tests'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      options: '-B -e -V'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Extent Report Artifact'
    inputs:
      PathtoPublish: 'reports/CAF_Execution_Report.html'
      ArtifactName: 'ExtentReport'
      publishLocation: 'Container'

  - task: ArchiveFiles@2
    displayName: 'Zip Extent Report'
    inputs:
      rootFolderOrFile: 'reports'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/ExtentReport.zip'
      replaceExistingArchive: true

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Zipped Report'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/ExtentReport.zip'
      ArtifactName: 'ExtentReportZip'
      publishLocation: 'Container'

  - task: HttpRequest@2
    displayName: 'Trigger Logic App to Email Report'
    inputs:
      method: 'POST'
      url: '$(LOGIC_APP_URL)'  # Store in Pipeline Secrets
      headers: |
        Content-Type: application/json
      body: |
        {
          "buildId": "$(Build.BuildId)",
          "project": "$(System.TeamProject)",
          "definition": "$(Build.DefinitionName)",
          "artifactName": "ExtentReportZip",
          "reportLink": "$(Build.ArtifactStagingDirectory)/ExtentReport.zip"
        }
