trigger:
  branches:
    include:
      - main

schedules:
  - cron: "0 6 * * *"   # 6 AM UTC = 8 AM South Africa time (UTC+2)
    displayName: Daily 8 AM Test Run
    branches:
      include:
        - main
    always: true

pool:
  vmImage: 'ubuntu-latest'

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$(Pipeline.Workspace)/.m2/repository"

steps:

  - task: Cache@2
    inputs:
      key: 'maven | "$(Agent.OS)" | pom.xml'
      restoreKeys: |
        maven | "$(Agent.OS)"
      path: $(Pipeline.Workspace)/.m2/repository
    displayName: 'Cache Maven packages'

  - task: Maven@4
    displayName: 'Run Tests with Maven'
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      options: '-Dsurefire.suiteXmlFiles=testng.xml'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Extent Report Artifact'
    inputs:
      PathtoPublish: './reports/automation-report.html'
      ArtifactName: 'ExtentReport'
      publishLocation: 'Container'
